doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body
		include vw-dashboard.pug

		button.adminButton#saveXLSnhcrt(type="submit" form="saveXLSnhcrtPost") Save Results as XLS - Retail Price Review
		form#saveXLSnhcrtPost(action='/MySqlTableHub/save2XLS_NHCRT' method='POST' accept-charset='UTF-8')
			label.input-label-1(for='xlsNhcrt') filename:
				input#xlsNhcrt.input-unit-1(type='text', placeholder='enter filename here', name='xlsPost', value='')

		div.rslt-tbl-1
			table#resTbl
				thead
					tr
						th ri_t0d
						th invPK
						th invCPK
						th invScanCode
						//- th ascScancode
						th ordSupplierStockNumber
						th invName
						th invSize
						th invReceiptAlias
						th invDefault
						th posTimeStamp
						th invDateCreated
						th invEmpFkCreatedBy
						th ordQuantityInOrderUnit
						th oupName
						th stoNumber
						//- th stoName
						th brdName
						th dptName
						th dptNumber
						th sibIdealMargin
						th actualMargT0d
						th venCompanyname
						th invLastreceived
						th invLastsold
						th invLastcost
						th sibBasePrice
						th invOnhand
						th invOnorder
						th invIntransit
						th invMemo
						th pi1Description
						th pi2Description
						th pi3Description
						th pi4Description
						th invPowerField1
						th invPowerField2
						th invPowerField3
						th invPowerField4


				tbody#resTblBdy
					if nhcrtDisplay !== undefined
						each elmnt in nhcrtDisplay
							tr
								td= elmnt.ri_t0d
								td= elmnt.invPK
								td= elmnt.invCPK
								td= elmnt.invScanCode
								//- td= elmnt.ascScancode
								td= elmnt.ordSupplierStockNumber
								td= elmnt.invName
								td= elmnt.invSize
								td= elmnt.invReceiptAlias
								td= elmnt.invDefault
								td= elmnt.posTimeStamp
								td= elmnt.invDateCreated
								td= elmnt.invEmpFkCreatedBy
								td= elmnt.ordQuantityInOrderUnit
								td= elmnt.oupName
								td= elmnt.stoNumber
								//- td= elmnt.stoName
								td= elmnt.brdName
								td= elmnt.dptName
								td= elmnt.dptNumber
								td= elmnt.sibIdealMargin
								td= elmnt.actualMargT0d
								td= elmnt.venCompanyname
								td= elmnt.invLastreceived
								td= elmnt.invLastsold
								td= elmnt.invLastcost
								td= elmnt.sibBasePrice
								td= elmnt.invOnhand
								td= elmnt.invOnorder
								td= elmnt.invIntransit
								td= elmnt.invMemo
								td= elmnt.pi1Description
								td= elmnt.pi2Description
								td= elmnt.pi3Description
								td= elmnt.pi4Description
								td= elmnt.invPowerField1
								td= elmnt.invPowerField2
								td= elmnt.invPowerField3
								td= elmnt.invPowerField4



